<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738915429369-q3msbbhmi2nhd20p78f76rojq28kd8nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738915429369-q3msbbhmi2nhd20p78f76rojq28kd8nr</string>
	<key>API_KEY</key>
	<string>AIzaSyDuYwZxynBYe7ETA3TPJB2Y7OgrcZ0Ug88</string>
	<key>GCM_SENDER_ID</key>
	<string>738915429369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motopreserve.putupcalculator</string>
	<key>PROJECT_ID</key>
	<string>putupcalculator</string>
	<key>STORAGE_BUCKET</key>
	<string>putupcalculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738915429369:ios:42e985e2bf351611</string>
	<key>DATABASE_URL</key>
	<string>https://putupcalculator.firebaseio.com</string>
</dict>
</plist>